@model ShoppingNut.Models.LoginModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "form-signin" }))
{
	@Html.AntiForgeryToken()

	<h2 class="form-signin-heading">Log in</h2>
	@Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", id = "loginName", placeholder = "User name", @class = "form-control" })
	@Html.ValidationMessageFor(m => m.UserName)
	@Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Password)
	<label class="checkbox">
		@Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox", value="Remember me" })
		Remember Me
	</label>
	<input class="btn btn-lg btn-primary" type="submit" value="Log in" />
	@Html.ValidationSummary() 
}