@model ShoppingNut.Models.RegisterModel

@using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm", @class = "form-signin" }))
{
	@Html.AntiForgeryToken()

	<h2 class="form-signin-heading">Sign up</h2>
	@Html.TextBoxFor(m => m.UserName, new { id = "registerName", placeholder = "User name", @class = "form-control" })
	@Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
	@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control" })
	<input class="btn btn-lg btn-primary" type="submit" value="Sign up" />
	@Html.ValidationSummary()
}