@{
	this.Layout = null;
}
<html ng-app="shoppingNut">
	
	<head>
		<meta charset="utf-8">
		<title>Recipe List</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
		@*<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />*@

		<link href="@Url.Content("~/css/app.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/css//bootstrap-responsive.min.css")" rel="stylesheet" type="text/css"/>
		@*<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" />*@

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../assets/js/html5shiv.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/favicon.png">
	</head>

	<body>
		@*<div id="userSettings">
			@Html.Partial("_UserSettings")
		</div>*@
		@if (@User.Identity.IsAuthenticated)
		{
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Recipe List</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							@*<li class="active"><a href="#">Home</a></li>*@
							<li><a href="#">Home</a></li>
							<li><a href="/#/recipes">Recipes</a></li>
							<li><a href="/#/recipes/add">Add recipe</a></li>
							<li><a href="/#/lists">Lists</a></li>
							<li><a href="/#/lists/add">Add list</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">

							@if (Request.IsAuthenticated)
							{
								<text>
									<li>
										@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: new { area = "" }, htmlAttributes: new { @class = "username", title = "Manage" })
									</li>
									<li>
										@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
										{
											@Html.AntiForgeryToken()
											<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
										}
									</li>
								</text>
							}
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
			<div class="container" ng-view></div>
		}
		else
		{
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="#">Recipe List</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active"><a href="#">Home</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span4">
						@Html.Partial("_Login")
					</div>
					<div class="span4">
						@Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
					</div>
					<div class="span4">
						@Html.Partial("_Register")
					</div>
				</div>
			</div>
		}
	</body>
	<script type="text/javascript" ng:autobind src="@Url.Content("~/scripts/lib/angular/angular.min.js")"></script>
	<script type="text/javascript" ng:autobind src="@Url.Content("~/scripts/lib/jquery/jquery.min.js")"></script>
	<script type="text/javascript" ng:autobind src="@Url.Content("~/scripts/lib/bootstrap/bootstrap.min.js")"></script>
	<script type="text/javascript" ng:autobind src="@Url.Content("~/scripts/app.js")"></script>
	<script type="text/javascript" ng:autobind src="@Url.Content("~/scripts/controllers.js")"></script>
	<script type="text/javascript" ng:autobind src="@Url.Content("~/scripts/lib/angular-ui/ui-bootstrap-tpls-0.6.0.min.js")"></script>
</html>
